$util.qr($context.args.input.put("accountId", $util.defaultIfNull($ctx.args.input.accountId, $util.autoId())))

{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "accountId": $util.dynamodb.toDynamoDBJson($ctx.args.input.accountId),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.input),
  "condition": {
    "expression": "attribute_not_exists(#accountId)",
    "expressionNames": {
      "#accountId": "accountId",
    },
  },
}