{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "storeId": $util.dynamodb.toDynamoDBJson($ctx.args.input.storeId),
    "itemId": $util.dynamodb.toDynamoDBJson($ctx.args.input.itemId),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.input),
  "condition": {
    "expression": "attribute_not_exists(#storeId) AND attribute_not_exists(#itemId)",
    "expressionNames": {
      "#storeId": "storeId",
      "#itemId": "itemId",
    },
  },
}