{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "accountId": $util.dynamodb.toDynamoDBJson($ctx.args.input.accountId),
    "itemId": $util.dynamodb.toDynamoDBJson($ctx.args.input.itemId),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.input),
  "condition": {
    "expression": "attribute_not_exists(#accountId) AND attribute_not_exists(#itemId)",
    "expressionNames": {
      "#accountId": "accountId",
      "#itemId": "itemId",
    },
  },
}