{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "accountId": $util.dynamodb.toDynamoDBJson($ctx.args.input.accountId),
    "reviewAt": $util.dynamodb.toDynamoDBJson($ctx.args.input.reviewAt),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.input),
  "condition": {
    "expression": "attribute_not_exists(#accountId) AND attribute_not_exists(#reviewAt)",
    "expressionNames": {
      "#accountId": "accountId",
      "#reviewAt": "reviewAt",
    },
  },
}