{
  "version": "2017-02-28",
  "operation": "DeleteItem",
  "key": {
    "accountId": $util.dynamodb.toDynamoDBJson($ctx.args.input.accountId),
    "itemId": $util.dynamodb.toDynamoDBJson($ctx.args.input.itemId),
  },
}