{
  "version": "2017-02-28",
  "operation": "GetItem",
  "key": {
    "storeId": $util.dynamodb.toDynamoDBJson($ctx.args.storeId),
    "itemId": $util.dynamodb.toDynamoDBJson($ctx.args.itemId),
  },
}